*{
    margin:0;
    padding:0;
}
html{
    font-size:50%;
}
.contrainer{
    width:100%;
    height:100%;
}
button{
    border:0;outline:none;background-color:#5FC0CD;font-size:2rem;
    color:#fff;margin:1rem;
}
header{
    height:7rem;width:100%;background-color:#5FC0CD;
    position:fixed;top:0;z-index: 100;
}
.goback{
    position:absolute;
    top:10%;
}
.title{
    position:absolute;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    font-size:3rem;
    color: #ffffff;
}
.back-btn{
    border:2rem solid ;
    width:0;height:0;
    position:absolute;
    border-color:transparent #ffffff transparent transparent;
}
.back-btn:after{
    content:"";
    border:1.5rem solid ;
    width:0;height:0;
    position:absolute;left:-0.7rem;top:-1.5rem;
    border-color:transparent #5FC0CD transparent transparent;
}

footer{
    height:7rem;
    width:100%;
    position:fixed;
    background-color: #fff;
    bottom:0;
    z-index: 100;
    display:flex;
}
.msgbtn{
    border:0.1rem solid #5FC0CD;
    color:#5FC0CD;
    background-color: #fff;
    flex:1;
    border-radius: 1rem;
}
.telbtn{
    color:#fff;
    flex:1;
    border-radius: 1rem;
}

main{position: absolute;
    padding-top:7rem;
    padding-bottom:7rem;
    width:100%;}

li{display: flex;
    height:auto;
    font-size:2rem;
    border-bottom: 0.1rem solid #cccccc;
    margin-left: 2rem;
}
ul,li{
    padding:.5rem 0 .5rem 0;
    min-height:2rem;
}
.key{width:10rem;
    margin:auto;
    position:relative;
    left:2rem;
    color:#ccc;
	padding-right:1rem;
}
.value,.value1{flex:1;
    border-left:0.2rem solid #cccccc;
    margin:auto;
    text-align:left;
    padding-left:1rem;}
.value1{border:none;}

.skills-title{font-size:2rem;margin:2rem;
    border-left:0.2rem solid #5FC0CD;
    padding-left:2rem;}
.skills{border-bottom:0.1rem solid #cccccc;}

.withStar{
    float:left;
    color:#000000;
    padding-left:3rem;
    background: url("star.png") left no-repeat;
}


.intro{
    background: url("background-img.png") no-repeat;
    background-size:100% 100%;
    height:17rem;}
.with-site{
    clear:both;
    background:url("site.png") left no-repeat;
    background-size:10%;
    padding-left:2rem;
    margin-top:1rem;
}
.person{width:8rem;height:8rem;}
.photo{position: relative;top:4.5rem;left:2rem;float:left;}
.brief{float:left;color:#fff;position:relative;
    top:6.5rem;left:4rem;}
.name,.age{font-size:2rem;float:left;}
.age{margin-left:1rem;}
